@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, strong, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 13px;
	font-family: inherit;
	vertical-align: baseline;
}

html {
	overflow-y: scroll;
	color: #191919;
	height: 100%;
}

body {
	height: 100%;
	background:#f9f9f9;
}

::selection {
	background: #00cc99;
	color: #ffffff;
}

::-moz-selection {
	background: #00cc99;
	color: #ffffff;
}

header,footer {
	width:100%;
	color: #dddddd;
	position:fixed;
	left:0;
}

header {
	top:0;
}
header h1 {
	padding:1em 1.5em;
	font-size:11px;
	font-weight:normal;
	text-align:left;
}

footer {
	bottom:0;
	padding:1em 0;
	text-align:center;
}


/* ロードするコンテンツ */
#wrap {
	width:100%;
	min-height:100%;
	display:table;
}

#wrap .inner {
	display:table-cell;
	text-align:center;
	vertical-align: middle;
}

#wrap .inner p {
	font-size:300%;
	color:#00cccc;
}

#wrap .inner p span {
	font-size:12px;
	color:#999999;
}

#wrap .inner button {
	padding:1em 5em;
	margin-top:30px;
	background:#00cccc;
	color:#ffffff;
	font-size:120%;
	border:none;
	border-bottom:2px solid #dddddd;
}
#wrap .inner button:hover {
	background:#0099cc;
}
#wrap .inner button:active {
	margin-top:32px;
	background:#0099cc;
	border-bottom:none;
}

/* スペランカー */
.tableArt {
	display:inline-block;
	width:50px;
	height:80px;
	margin-bottom:30px;
}

td {
	width: 5px;
	height: 5px;
}
td.dot_spe_0{
	background-color: transparent;
}
td.dot_spe_1{
	background-color: #EF4224;
}
td.dot_spe_2{
	background-color: #F79767;
}
td.dot_spe_3{
	background-color: #3F67AF;
}

